@import "./_components/styles";
@import "./_components/nav";
@import "./_components/menu";
@import "./_components/user-presentation";

body {
  background-color: var(--white);
}


// main layout
main {
  padding: 0 clamp(10px, 5%, 25px);
  display: grid;
  grid-template-columns: clamp(200px, 20%, 250px) 1fr clamp(200px, 20%, 250px);
  gap: 25px;
  margin-top: 25px;
}

.sidebar {
  max-height: 80vh;
  overflow: auto;
  padding: 1rem;
  position: sticky;
  top: calc(72px + 10px); /* 72px: nav + border ..... 10px: gap */
  border: 2px solid transparent;

  &:first-child {
    border-right-color: var(--light-gray);
  }

  &:last-child {
    border-left-color: var(--light-gray);
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}