@import "./_components/styles";


.login-form, #register {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  gap: 25px;
  margin: 0 25px;
}

.login-form {

  @media all and (max-width: 700px) {
    justify-content: center;
    margin: 0;
    background: url(/assets/images/login-background.jpg) no-repeat center / cover;

    .image-container {  
      display: none;
    }
  }

  
  .form-container {
    overflow: hidden;
    background-color: transparentize($color: white , $amount: 0.05);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: var(--shadow-light);
    width: clamp(250px, 100%, 350px);
    margin: 0 10px;
  }
  
  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
    
    & > * {
      color: var(--neutral);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


#register {
  
  @media all and (max-width: 700px) {
    justify-content: center;
    margin: 0;
    background: url(/assets/images/register-background.jpg) no-repeat top / cover;

    .image-container {  
      display: none;
    }
  }

  .entries-container {
    display: flex;
    gap: 25px;
    justify-content: space-between;

    .entry-checker {
      max-width: 200px;
    }

    @media all and (max-width: 360px) {
      flex-direction: column;

      .entry-checker, .options-checker, .submit-btn {
        max-width: 100%;
      }
    }
  }

  .form-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    max-width: 500px;
    box-shadow: var(--shadow-light);
    border-radius: 10px;
    background-color: transparentize($color: #ffffff, $amount: 0.05);
    margin: 25px;
  }

  .title {
    font-size: xx-large;
    text-align: left;
  }

  .options-checker, .submit-btn {
    max-width: 200px;
  }

  #domain-entry {
    overflow: hidden;
    max-height: 0px;
    transition: .5s ease-in-out;

    &.active {
      max-height: 1000px;
      overflow: visible;
    }
  }
}