.login-form {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  gap: 25px;
  margin: 0 25px;

  @media screen and (max-width: 700px) {
    justify-content: center;
    margin: 0;
    background: url(/assets/images/login-background.jpg) no-repeat center / cover;

    .image-container {  
      display: none;
    }
  }
  

  .image {
    width: 100%;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  
  .form-container {
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: var(--shadow-light);
    width: clamp(250px, 100%, 350px);
    margin: 0 10px;

    @media screen and (max-width: 700px) {
      background-color: transparentize($color: white , $amount: 0.05)
    }

  }
  &__submit {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--dark-gray);
    cursor: pointer;
    transition: .25s ease-in-out;

    &:hover {
      background-color: var(--black);
      border-color: var(--black);
      color: var(--white);
    }
  }
  
  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
    
    & > * {
      color: var(--black);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}