.user-presentation {
  border: 2px solid var(--secondary-light);
  flex-shrink: 0;
  width: 100%;
  border-radius: var(--simple-radius);
  overflow: hidden;


  &__image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  &__contact {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;

  }


  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    padding: .5rem;
  }

  &__name {
    color: var(--primary-dark);
    font-weight: bold;
    font-size: large;
  }

  &__career {
    color: var(--secondary-dark);
    font-size: small;
  }
}