:root {
  // colors
  --black: #01030b;
  --white: #fdfcfc;
  --light-gray: #ececec;
  --dark-gray: #909090;
  --dark-green: #37b90b;
  --dark-red: #b60303;
  --light-pink: #f40057;
  --dark-pink: #c00043;

  // styles
  --simple-radius: 10px;

  // shadows
  --shadow-light: 0 0 25px #00000025;
}