:root {

  // styles
  --simple-radius: 10px;

  // shadows
  --shadow-light: 0 0 25px #00000025;



  // colors
  // --background-color: #fdfcfc;

  // --primary-light: #f40057;
  // --primary-dark: #f40057;

  // --secondary-light: #ececec;
  // --secondary-dark: #909090;

  
  
  // --neutral: #01030b;
  
  //  -------------------------
  
  --background: #fdfcfc;
  --primary: #d60850;
  --secondary: #cfcfcf;
  --accent: #f3f3f3;
  --neutral: #01030b;
  --error: #b60303;
  --success: #37b90b;
  

  // if user choose theme from settings
  &[data-theme="dark"] {

    --background: #141317; //
    --primary: #f71d69;
    --secondary: #333333;
    --accent: #262626;
    --neutral: #f0f0f0; //
    --error: #b60303;
    --success: #37b90b;
    
  }

}