:root {

  // styles
  --simple-radius: 10px;

  // shadows
  --shadow-light: 0 0 25px #00000025;



  // colors
  --background-color: #fdfcfc;

  --primary-light: #f40057;
  --primary-dark: #f40057;

  --secondary-light: #ececec;
  --secondary-dark: #909090;

  --error: #b60303;

  --success: #37b90b;

  --neutral: #01030b;

}